---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="太空旅行">
  <Container>
    <Sectionhead>
      <Fragment slot="title">太空旅行</Fragment>
      <Fragment slot="desc">连接现实与梦想，探索宇宙的无限边疆</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">项目简介</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          中科宇航宣布其“太空旅行飞行器”将于2027年进行首次飞行，并计划在2028年开始载人太空边缘旅游。该太空旅行飞行器采用单级火箭和旅游舱的组合形式，旅游舱配备了4扇全景舷窗，每次飞行可搭乘7名乘客。
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>1734 Sanfransico, CA 93063</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:hello@astroshipstarter.com"
              >hello@astroshipstarter.com</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+1 (987) 4587 899">+1 (987) 4587 899</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
