---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "神州十七号",
    price: "汤洪波",
    popular: false,
    features: [
    "男，汉族，籍贯河南杞县",
    "1988年2月出生",
    "2006年9月入伍，2010年1月加入中国共产党",
    "学士学位，中国人民解放军航天员大队四级航天员，空军中校军衔",
    "曾任空军航空兵某旅飞行大队副大队长，被评为空军一级飞行员",
    "2020年9月入选为我国第三批航天员",
    "经全面考评，入选神舟十七号载人飞行任务乘组",
    ],
    button: {
      text: "返回首页",
      link: "/",
    },
  },
  {
    name: "神州十七号",
    price: {
      monthly: "江新林",
      
    },
    popular: true,
    features: [
      "男，汉族，籍贯河南杞县",
      "1988年2月出生",
      "2006年9月入伍，2010年1月加入中国共产党",
      "学士学位，中国人民解放军航天员大队四级航天员，空军中校军衔。",
      "曾任空军航空兵某旅飞行大队副大队长，被评为空军一级飞行员。",
      "2020年9月入选为我国第三批航天员。",
      "经全面考评，入选神舟十七号载人飞行任务乘组。",
    ],
    button: {
      text: "返回首页",
      link: "#",
    },
  },
  {
    name: "神州十七号",
    price: "唐胜杰",
    popular: false,
    features: [
      "男，汉族，籍贯甘肃定西",
      "1989年12月出生",
      "2008年9月入伍，2013年3月加入中国共产党",
      "学士学位，中国人民解放军航天员大队四级航天员，空军中校军衔",
      "学士学位，中国人民解放军航天员大队四级航天员，空军中校军衔",
      "2020年9月入选为我国第三批航天员。经全面考评，入选神舟十七号载人飞行任务乘组",
    ],
    button: {
      text: "返回首页",
      link: "/contact",
    },
  },
];
---

<Layout title="航天员介绍">
  <Container>
    <Sectionhead>
      <Fragment slot="title">航天员介绍</Fragment>
      <Fragment slot="desc">
        神州十七号载人飞行任务航天员
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
