---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "东方红一号发射成功",
    description:
      "1970年4月24日。中国首颗人造卫星“东方红一号”成功发射，使中国成为全球第五个自行研制和发射人造卫星的国家。",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "神舟五号载人飞船发射",
    description:
      "2003年10月15日。中国首艘载人飞船“神舟五号”搭载中国首位宇航员杨利伟顺利升空，实现了中华民族千年的飞天梦想。",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "嫦娥一号探月",
    description:
      "2007年10月24日。中国首颗探月卫星“嫦娥一号”成功发射，标志着中国探月工程的开始。  ",
    icon: "bx:bxs-data",
  },
  {
    title: "神舟七号航天员出舱活动",
    description:
      "2008年9月27日。航天员翟志刚在神舟七号任务中实施了中国的首次太空行走，实现了空间出舱活动技术的突破。",
    icon: "bx:bxs-bot",
  },
  {
    title: "天宫一号目标飞行器发射",
    description:
      "2011年9月29日。天宫一号的成功发射，为中国空间站的建设奠定了基础，是中国空间实验室计划的重要组成部分。",
    icon: "bx:bxs-file-find",
  },
  {
    title: "中国空间站核心舱发射",
    description:
      "2021年4月29日。空间站天和核心舱的成功发射，标志着中国空间站在轨组装建造的全面展开，是中国航天史上的又一重要里程碑。",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    中国航天工程简介
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    中国航天史
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
